@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "WDXL Lubrifont TC", sans-serif;
  --font-body: var(--font-sans);
  --font-heading: var(--font-serif);

  --animate-spin-background: spinBackground 5s linear infinite;

  @keyframes spinBackground {
    100% {
      transform: rotate(360deg);
    }
  }
}

p,
input {
  @apply font-body;
}

.bg-purple-blurred {
  @apply bg-purple-900/60 backdrop-blur-sm rounded-2xl;
}

.bg-blurred {
  @apply bg-gray-100/50 backdrop-blur-xs border-2 border-purple-300 rounded-2xl;
}

.text-input {
  @apply border p-2 w-full rounded border-purple-300 focus:outline-purple-900 text-purple-950 text-center placeholder:text-purple-800;
}

.purple-button {
  @apply bg-purple-800 hover:bg-purple-900 cursor-pointer text-white px-4 py-2 rounded disabled:bg-purple-700 disabled:text-purple-400 disabled:cursor-auto;
}
